{% extends 'base.html' %}
{% block content %} 
<!-- {% load static %} -->
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
        <form method="POST" enctype="multipart/form-data" action="{% url 'recipe:create'%}" name="reciptform" id="reciptform">

        {% csrf_token %}   

            <div class="float-left" id="namepic">
                <!-- <input type="text" class="form-control" name="userId" id="userId" placeholder="userId">                -->
                <div class="form-group row ">
                    <label for="recName" class="col-sm-2.5 col-form-label ">食譜名稱：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="recName" id="recName" placeholder="請輸入食譜名稱">
                    </div>
                </div>

                <div class="form-group row " >
                    <div class="col-sm-10">
                        <label for="recCover" class="col-sm-10 col-form-label">
                            <input type = "file" name="recCover" >
                            <img src="/static/images/uppic.png"  class="form-control" name="imgrecipcover" id="imgrecipename" placeholder="Recipt Name">
                        </label>
                    </div>
                </div>
            </div>

            <div class"float-right">

                <div class="form-group row ">
                    <label for="recDesc" class="col-sm-3 col-form-label">簡介：</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="recDesc" id="recDesc" placeholder="請輸入描述(最多200字)"></textarea>
                    </div>
                </div>

                <div class="form-group row ">
                    <label for="recTime" class="col-sm-4 col-form-label ">料理時間(分鐘)：</label>
                    <div class="col-sm-4">
                        <select class="select optional form-control" name="recTime" id="recTime">
                            <option value="0">請選擇</option>
                            {% for ckt in cooktimelist %}
                            <option value={{ckt}}>{{ckt}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row ">
                    <label for="recPortion" class="col-sm-4 col-form-label ">份量(人份)：</label>
                    <div class="col-sm-4">
                        <select class="select optional form-control" name="recPortion" id="recPortion">
                            <option value>請選擇</option>                         
                            {% for prt in portionlist %}
                            <option value={{prt}}>{{prt}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            
                <div class="form-group row ">
                    <label for="recCal" class="col-sm-3 col-form-label ">熱量(卡路里)：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="recCal" id="recCal" placeholder="請輸入熱量">
                    </div>
                </div>

                <div class="form-group row form-inline ingredient clearfix">
                    <label for="recVegan" class="col-sm-3 col-form-label ">葷素：</label>
                    <div class="col-sm-8">
                        <input  type="radio" name="recVegan" value="葷食" checked>葷食
                        <input  type="radio" name="recVegan" value="蛋奶素">蛋奶素
                        <input  type="radio" name="recVegan" value="素食" >素食
                    </div>
                </div>
            </div>

            <div class="float-none form-group row">
                <div id="foodlist" class="form-inline ingredient clearfix " >
                    <div class="form-inline ingredient clearfix" name="foodbar">
                        <input type="text" class="form-control ingredient-name required maxlen col-sm-5" placeholder="食材" name="food"  required>
                        <input type="text" class="form-control ingredient-name required maxlen col-sm-3" placeholder="份量" name="fQty"  required>
                        <button type = "button" id="foodDel" class="btn btn-outline btn-danger col-sm-2">刪除</button>
                    </div>       
                </div>    
            <button type = "button" id="foodAdd" class="btn btn-outline btn-success">新增食材</button>
            </div>
    
            <div >
                <div id="cookstep" class="form-inline ingredient clearfix " >
                    <div class="form-inline ingredient clearfix" name="stepbar">
                        <textarea class="form-control" name="step" id="step" placeholder="請輸入步驟"></textarea>
                        <button type = "button" id="stepDel" class="btn btn-outline btn-danger">刪除</button>
                    </div>
                </div>
                <button type = "button" id="stepAdd" class="btn btn-outline btn-success">新增步驟   </button>
            </div>

            <input type="hidden" id="recFood" name='recFood'>
            <input type="hidden" id="recStep" name='recStep'>
            <div class="form-group row">
                <div class="col-sm-10 offset-md-2">
                    <button id = "sbmBtn" type="button" class="btn btn-primary">
                        <i class="fa fa-bath" aria-hidden="true"></i> 新增</button>
                </div>
            </div>
        
        </form>
        </div>
    </div>
 </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#stepAdd').click(function() {
            $('#cookstep').append( ' <div class="form-inline ingredient clearfix" name="stepbar">                <textarea class="form-control" name="step" id="step" placeholder="請輸入步驟"></textarea>                <button type = "button" id="stepDel" class="btn btn-outline btn-danger">刪除</button>        </div>'
             )
        })

        $('#cookstep').on('click','#stepDel',function(){
								 $(this).parent("div").remove();
							})

        $('#foodAdd').click(function() {
            $('#foodlist').append( '<div class="form-inline ingredient clearfix" name="foodbar">            <input type="text" class="form-control ingredient-name required maxlen col-sm-5" placeholder="食材" name="food"  required>            <input type="text" class="form-control ingredient-name required maxlen col-sm-3" placeholder="份量" name="fQty"  required>            <button type = "button" id="foodDel" class="btn btn-outline btn-danger col-sm-2">刪除</button>        </div>'
             )
        })

        $('#foodlist').on('click','#foodDel',function(){
								 $(this).parent("div").remove();
							})

        $('#sbmBtn').click(function(){  
        
        fodlist = []
        $('div[name="foodbar"]').each(function(index){
            fod = {}
            fod.name = $(this).children('input[name="food"]').val()
            fod.qty = $(this).children('input[name="fQty"]').val()
            fodlist.push(fod)
        });
        
        recFood = JSON.stringify(fodlist)
        $('#recFood').val(recFood)

        stplist = []
        $('div[name="stepbar"]').each(function(index){    
            stp = $(this).children('textarea[name="step"]').val()    
            stplist.push(stp)
        });
        
        recStep= JSON.stringify(stplist)
        $('#recStep').val(recStep)
        $('#reciptform').submit()
          
      })                             
    })
    </script>
    {% endblock %}