{% extends 'base.html'%}
{% block content %}

<div class="container ">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header"></div>
        <div class="card-body">
        <a href="{% url 'recipe:userrecipe' %}" class="btn btn-primary mb-3"><i class="fa fa-plus-circle" aria-hidden="true"></i>我的食譜</a>
        <div class="row m-3">
        {% for recipe in recipes %}
        <div class="col-6 col-md-3 md-3">
            <div class="card" style="border: 3px solid black;">
                <a href="{% url 'recipe:showrecipe' recipe.recid %}">
                    <img class="card-img-top"src="/media/{{recipe.reccover}}" class="img-thumbnail" style="width:900"></a>
            <div class="card-body">
                <h5 class="card-title" style="font-weight:900">{{recipe.recname}}</h5>
                <p class="card-text">{{recipe.recdesc}}</p>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{recipe.recvegan}}</li>
                    <li class="list-group-item">熱量：{{recipe.reccal}}大卡</li>
                    
                </ul>
            </div>
        </div>
        {% endfor %}
        </div>
        </div>
    </div>
</div>
    {% endblock %}