{% extends 'base.html' %}
{% block content %} 
<!-- {% load static %} -->
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">
            <a href="{% url 'recipe:index' %}" class="btn btn-primary col-1 ml-3"><i class="fa fa-plus-circle" aria-hidden="true"></i>返回食譜</a>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" action="{% url 'recipe:update' recipe.recid %}" name="reciptform" id="reciptform">

            {% csrf_token %}   
                <div class="form-group row">
                    <div class="float-left col-sm-5" id="namepic">          
                        <div class="m-3">
                            <h4>{{recipe.recname}}</h4>
                            <h5>食譜提供： {{member.username}}</h5>
                            <img src="/media/{{recipe.reccover}}"  class="form-control" name="imgrecipcover" id="imgrecipename" placeholder="Recipt Name" style="width:300px">
                        </div>
                    </div>

                    <div class"float-right col-sm-7">
                        <div class="form-group row ">

                            <label for="recDesc" class="col-sm-2 col-form-label">簡介：</label>
                            <div class="col-sm-10">
                                <textarea class="form-control"  maxlength="200" rows="3" cols="50" name="recDesc" id="recDesc"  readonly style="resize: none">{{recipe.recdesc}}</textarea>
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label for="recTime" class="col-sm-8  ">料理時間(分鐘)： {{recipe.rectime}} 分鐘</label>
                        </div>

                        <div class="form-group row ">
                            <label for="recPortion" class="col-sm-8  ">份量(人份)：{{recipe.recportion}}人份</label>
                        </div>
            
                        <div class="form-group row ">
                            <label for="recCal" class="col-sm-8 col-form-label ">熱量(每人份)：{{recipe.reccal}}大卡</label>
                        </div>

                        <div class="form-group row   ">
                            <label for="recVegan" class="col-sm-3 col-form-label ">葷素：{{recipe.recvegan}}</label>
                        </div>
                    </div>
                </div>
                <h4 class="panel-title m-2">食材</h4>
                <div class=" form-group row m-3">
                    
                    <div id="foodlist" class="form-inline  " >
                    {% for fod in fodlist %}
                    <div class="form-inline  " name="foodbar">
                        <input type="text" class="form-control    col-sm-5 m-1"  readonly name="food"   value="{{fod.name}}" required>
                        <input type="text" class="form-control    col-sm-3 m-1" readonly name="fQty"  value="{{fod.qty}}" required>  
                    </div>   
                    {% endfor %}
                    </div>    
                </div>
    
                <div> 
                    <h4 class="panel-title m-2">料理步驟</h4>
                    <div id="cookstep" class="form-inline   " >
                    {% for stp in stplist %}
                        <div class="form-inline m-1 " name="stepbar">
                            <textarea class="form-control" name="step" id="step" rows="3" cols="110" readonly style="resize: none">{{stp}}</textarea>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
{% endblock %}