{% extends 'base.html' %} {% load static %} 
{% block styles%}
<link href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet">
<style>
    table {
        table-layout: fixed;
        word-break: break-all;
        word-wrap: break-word;
        border: 3px black solid
    }

    th {
        border: 2px white solid;
        word-wrap: break-word;
    }

    td {
        border: 2px white solid;
        word-wrap: break-word;

    }

    img {
        width: 100%;
    }
    
    /* .active{
        opacity: .4;
    } */
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}
                <table class="table" style="background-color: #f9ebc0;color:black;text-align: center">
                    <thead style="background-color: #1eb4ab;color:white">
                        <tr>
                            <th>食譜</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody id="cccccal" name="cccccal">
                            <tr>
                                <th colspan="1">熱量</th>
                                <td><small>熱量: <small id="ccal1" ></small>大卡</small></td>
                                <td><small>熱量: <small id="ccal2" ></small>大卡</small></td>
                                <td><small>熱量: <small id="ccal3" ></small>大卡</small></td>
                                <td><small>熱量: <small id="ccal4" ></small>大卡</small></td>
                                <td><small>熱量: <small id="ccal5" ></small>大卡</small></td>
                                <td><small>熱量: <small id="ccal6" ></small>大卡</small></td>
                                <td><small>熱量: <small id="ccal7" ></small>大卡</small></td>
                            </tr>
                        </tbody>
                    <tbody id="BREAKFAST" name="BREAKFAST">
                        <tr>
                            <th colspan="1">BREAKFAST</th>
                            <td style="padding: 0" class="dropzone">
                                <img src="{% static 'images/empty.png' %}">
                                <input type="hidden" value="" name="1-1">
                                <h5 name='1-1cals' style="display: none" >熱量: 0</h5>
                            </td>
                            <td style="padding: 0" class="dropzone">
                                <img src="{% static 'images/empty.png' %}">
                                <input type="hidden" value="" name="2-1">
                                <h5 name='2-1cals' style="display: none" >熱量: 0</h5>
                            </td>
                            <td style="padding: 0" class="dropzone">
                                <img src="{% static 'images/empty.png' %}">
                                <input type="hidden" value="" name="3-1">
                                <h5 name='3-1cals' style="display: none" >熱量: 0</h5>
                            </td>
                            <td style="padding: 0" class="dropzone">
                                <img src="{% static 'images/empty.png' %}">
                                <input type="hidden" value="" name="4-1">
                                <h5 name='4-1cals' style="display: none" >熱量: 0</h5>
                            </td>
                            <td style="padding: 0" class="dropzone">
                                <img src="{% static 'images/empty.png' %}">
                                <input type="hidden" value="" name="5-1">
                                <h5 name='5-1cals' style="display: none" >熱量: 0</h5>
                            </td>
                            <td style="padding: 0" class="dropzone">
                                <img src="{% static 'images/empty.png' %}">
                                <input type="hidden" value="" name="6-1">
                                <h5 name='6-1cals' style="display: none" >熱量: 0</h5>
                            </td>
                            <td style="padding: 0" class="dropzone">
                                <img src="{% static 'images/empty.png' %}">
                                <input type="hidden" value="" name="7-1">
                                <h5 name='7-1cals' style="display: none" >熱量: 0</h5>
                            </td>
                        </tr>
                    </tbody>
                    <tbody id="LUNCH" name="LUNCH">
                            <tr>
                                <th colspan="1">LUNCH</th>
                                <td style="padding: 0" class="dropzone">
                                    <img src="{% static 'images/empty.png' %}">
                                    <input type="hidden" value="" name="1-2">
                                    <h5 name='1-2cals' style="display: none" >熱量: 0</h5>
                                </td>
                                <td style="padding: 0" class="dropzone">
                                    <img src="{% static 'images/empty.png' %}">
                                    <input type="hidden" value="" name="2-2">
                                    <h5 name='2-2cals' style="display: none" >熱量: 0</h5>
                                </td>
                                <td style="padding: 0" class="dropzone">
                                    <img src="{% static 'images/empty.png' %}">
                                    <input type="hidden" value="" name="3-2">
                                    <h5 name='3-2cals' style="display: none" >熱量: 0</h5>
                                </td>
                                <td style="padding: 0" class="dropzone">
                                    <img src="{% static 'images/empty.png' %}">
                                    <input type="hidden" value="" name="4-2">
                                    <h5 name='4-2cals' style="display: none" >熱量: 0</h5>
                                </td>
                                <td style="padding: 0" class="dropzone">
                                    <img src="{% static 'images/empty.png' %}">
                                    <input type="hidden" value="" name="5-2">
                                    <h5 name='5-2cals' style="display: none" >熱量: 0</h5>
                                </td>
                                <td style="padding: 0" class="dropzone">
                                    <img src="{% static 'images/empty.png' %}">
                                    <input type="hidden" value="" name="6-2">
                                    <h5 name='6-2cals' style="display: none" >熱量: 0</h5>
                                </td>
                                <td style="padding: 0" class="dropzone">
                                    <img src="{% static 'images/empty.png' %}">
                                    <input type="hidden" value="" name="7-2">
                                    <h5 name='7-2cals' style="display: none" >熱量: 0</h5>
                                </td>
                            </tr>
                        </tbody>
                        <tbody id="DINNER" name="DINNER">
                                <tr>
                                    <th colspan="1">DINNER</th>
                                    <td style="padding: 0" class="dropzone">
                                        <img src="{% static 'images/empty.png' %}">
                                        <input type="hidden" value="" name="1-3">
                                        <h5 name='1-3cals' style="display: none" >熱量: 0</h5>
                                    </td>
                                    <td style="padding: 0" class="dropzone">
                                        <img src="{% static 'images/empty.png' %}">
                                        <input type="hidden" value="" name="2-3">
                                        <h5 name='2-3cals' style="display: none" >熱量: 0</h5>
                                    </td>
                                    <td style="padding: 0" class="dropzone">
                                        <img src="{% static 'images/empty.png' %}">
                                        <input type="hidden" value="" name="3-3">
                                        <h5 name='3-3cals' style="display: none" >熱量: 0</h5>
                                    </td>
                                    <td style="padding: 0" class="dropzone">
                                        <img src="{% static 'images/empty.png' %}">
                                        <input type="hidden" value="" name="4-3">
                                        <h5 name='4-3cals' style="display: none" >熱量: 0</h5>
                                    </td>
                                    <td style="padding: 0" class="dropzone">
                                        <img src="{% static 'images/empty.png' %}">
                                        <input type="hidden" value="" name="5-3">
                                        <h5 name='5-3cals' style="display: none" >熱量: 0</h5>
                                    </td>
                                    <td style="padding: 0" class="dropzone">
                                        <img src="{% static 'images/empty.png' %}">
                                        <input type="hidden" value="" name="6-3">
                                        <h5 name='6-3cals' style="display: none" >熱量: 0</h5>
                                    </td>
                                    <td style="padding: 0" class="dropzone">
                                        <img src="{% static 'images/empty.png' %}">
                                        <input type="hidden" value="" name="7-3">
                                        <h5 name='7-3cals' style="display: none" >熱量: 0</h5>
                                    </td>
                                </tr>
                            </tbody>
    
                    <tbody>
                        <tr>
                            <th colspan="8">標題 &nbsp;:&nbsp;&nbsp;<input type="text" class="btn btu-primary" name="title" ></th>
                        </tr>
                        <tr>
                            <th colspan="8"><input id="btn1" type="submit" class="btn btu-primary" value="儲存"></th>
                        </tr>
                    </tbody>
                </table>
            </form>   
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
            {% for recipe in recipes %}
                <div class="card draggable col-md-6" style="border: 3px solid black;">
                    <a href="{% url 'recipe:showrecipe' recipe.recid %}">
                    <img class="card-img-top" src="/media/{{recipe.reccover}}" alt="Card image cap" data-toggle="modal" data-target="#exampleModal">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title" style="font-weight: 900">[食譜]{{recipe.recname}}</h4>
                        <p class="card-text">{{recipe.recdesc}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">葷素: {{recipe.recvegan}}</li>
                        <li name="foodcal" class="list-group-item">熱量: {{recipe.reccal}}</li>
                    </ul>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
            {% for storemenu in storemenu %}
                <div class="card draggable col-md-6" style="border: 3px solid black;">
                    <img class="card-img-top" id="imgall" src="/media/{{storemenu.cimg}}" alt="Card image cap" data-toggle="modal" data-target="#exampleModal">
                    <div class="card-body">
                        <h4 class="card-title" style="font-weight: 900">[店家]{{storemenu.cname}}</h4>
                        <p class="card-text">{{storemenu.cintroduction}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">類型: {{storemenu.ctype}}</li>
                        <li name="foodcal" class="list-group-item">熱量: {{storemenu.ccal}}</li>
                        <li class="list-group-item">價錢: {{storemenu.cprice}}</li>
                    </ul>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script>
    var a = 300;
    $(".draggable").draggable({
        // brings the item back to its place when dragging is over
        revert:true, 
        
        // let the dragged item always on the top
        stack: ".draggable"
        
        
    });   
    
    $(".dropzone").droppable({
        drop: function(event, ui) {
            
            var basket = $(this);
            var move = ui.draggable;
            
            addBasket(basket,move)
            cb_1 = Number($("tbody#BREAKFAST h5[name='1-1cals']").text().split(" ")[1]) 
            cl_1 = Number($("tbody#LUNCH h5[name='1-2cals']").text().split(" ")[1])  
            cd_1 = Number($("tbody#DINNER h5[name='1-3cals']").text().split(" ")[1])
            cal1 = (cb_1+cl_1+cd_1)
            cb_2 = Number($("tbody#BREAKFAST h5[name='2-1cals']").text().split(" ")[1]) 
            cl_2 = Number($("tbody#LUNCH h5[name='2-2cals']").text().split(" ")[1])  
            cd_2 = Number($("tbody#DINNER h5[name='2-3cals']").text().split(" ")[1])
            cal2 = (cb_2+cl_2+cd_2)
            cb_3 = Number($("tbody#BREAKFAST h5[name='3-1cals']").text().split(" ")[1]) 
            cl_3 = Number($("tbody#LUNCH h5[name='3-2cals']").text().split(" ")[1])  
            cd_3 = Number($("tbody#DINNER h5[name='3-3cals']").text().split(" ")[1])
            cal3 = (cb_3+cl_3+cd_3)
            cb_4 = Number($("tbody#BREAKFAST h5[name='4-1cals']").text().split(" ")[1]) 
            cl_4 = Number($("tbody#LUNCH h5[name='4-2cals']").text().split(" ")[1])  
            cd_4 = Number($("tbody#DINNER h5[name='4-3cals']").text().split(" ")[1])
            cal4 = (cb_4+cl_4+cd_4)
            cb_5 = Number($("tbody#BREAKFAST h5[name='5-1cals']").text().split(" ")[1]) 
            cl_5 = Number($("tbody#LUNCH h5[name='5-2cals']").text().split(" ")[1])  
            cd_5 = Number($("tbody#DINNER h5[name='5-3cals']").text().split(" ")[1])
            cal5 = (cb_5+cl_5+cd_5)
            cb_6 = Number($("tbody#BREAKFAST h5[name='6-1cals']").text().split(" ")[1]) 
            cl_6 = Number($("tbody#LUNCH h5[name='6-2cals']").text().split(" ")[1])  
            cd_6 = Number($("tbody#DINNER h5[name='6-3cals']").text().split(" ")[1])
            cal6 = (cb_6+cl_6+cd_6)
            cb_7 = Number($("tbody#BREAKFAST h5[name='7-1cals']").text().split(" ")[1]) 
            cl_7 = Number($("tbody#LUNCH h5[name='7-2cals']").text().split(" ")[1])  
            cd_7 = Number($("tbody#DINNER h5[name='7-3cals']").text().split(" ")[1])
            cal7 = (cb_7+cl_7+cd_7)
            // alert(mon_b)
            $("#ccal1").text(cal1)
            $("#ccal2").text(cal2)
            $("#ccal3").text(cal3)
            $("#ccal4").text(cal4)
            $("#ccal5").text(cal5)
            $("#ccal6").text(cal6)
            $("#ccal7").text(cal7)
        }   
    });


    function addBasket(basket, move) {
        //餐點名字 move.find(".card-title").html()
        //餐點照片 move.find("img").attr("src")
        title = move.find(".card-title").text()
        image_src = move.find("img").attr("src")
        cal_text = move.find("li[name='foodcal' ]").text()
        // alert(cal_text)
        // basket.html(move.find(".card-title").html() + 
        // "<img src='"  + move.find("img").attr("src") + "'>" );
        basket.find('input').attr('value',title)
        basket.find('img').attr('src',image_src)
        basket.find('h5').text(cal_text)

    }  
</script>
{% endblock %}