{% extends 'base.html' %} {% block content %} 
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<link rel='stylesheet' href="{% static 'styles/style.css' %}">
<style>
.login button{
    background: #e6a756;
}
</style>


        
     
            <div class="wrapper ">
                <form class="login" method="POST" id='form2'>
                    {% csrf_token %}
                    <p class="title">Company Log in</p>
                    
                    <input type="email" placeholder="Enter email" autofocus class="form-control" id="Company_email" name="Company_email" />
                    <i class="fa fa-user"></i>
                    <input type="hidden" name='company' id='company'>

                    <input type="password" placeholder="Password" class="form-control" name="Company_password" id="Company_password" placeholder="Password"
                    />

                    <i class="fa fa-key"></i>
                    <a target="blank" href="{% url 'jabor:register' %}">沒帳號註冊去</a>


                    <button type="submit" class="btn btn-primary mt-2">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>Log in</button>

                </form>
                <footer></footer>



            </div>
     
{% endblock %}