{% extends 'base.html'%}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<form method="POST" style="font-family: 微軟正黑體" >
<div class="container" style="background-color: orange;">
        <div class="card card-register mx-auto mt-2">
        <!-- <div class="card-header">Register an Account</div> -->
        <br>
        <h4 style="text-align:center ; font-family: 微軟正黑體">註冊會員</h4>
        <hr>
        
        <div class="container">
       
<div class="wrapper" style="margin: auto">



    
    
    {% csrf_token %}   
    <!-- <div class="text-center"></div> -->
    
    <div class="form-group row" >
        
        <label for="username" class="col-sm-3 col-form-label">
            <i class="far fa-user col-md-4" style="color:orange ; margin-left:30%;"></i>姓名</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="username" id="username" placeholder="User Name" required>
        </div>
    </div>

    
    <div class="form-group row">
        <label for="useremail" class="col-sm-3 col-form-label">
            <i class="far fa-envelope col-md-3" style="color:orange ; margin-left:30%;"></i>E-mail*(帳號)</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" name="useremail" id="useremail" placeholder="User Email" required>
            <img  src=""/> <span id="ans" style="font-family: 微軟正黑體" ></span>

        </div>
    </div>




    <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">
            <i class="fas fa-unlock-alt col-md-4" style="color:orange ; margin-left:30%;"></i>密碼</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="usergender" class="col-sm-3 col-form-label">
            <i class="fas fa-transgender col-md-4" style="color:orange; margin-left:30%; " ></i>性別</label>
        <div class="col-sm-6" >
           
            <input type="radio" name="usergender" value=Male required> Male<br>
            <input type="radio" name="usergender" value=Female required> Female<br>
            
        </div>
    </div>


    <div class="form-group row">
        <label for="userphone" class="col-sm-3 col-form-label">
            <i class="fas fa-mobile-alt col-md-4" style="color:orange ; margin-left:30%;"></i>電話</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="userphone" id="userphone" placeholder="User Phone" required>
        </div>
    </div>



    <div class="form-group row">
        <label for="userbirth" class="col-sm-3 col-form-label">
            <i class="fas fa-birthday-cake col-md-4" style="color:orange ; margin-left:30%;"></i>生日</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="userbirth" id="userbirth" placeholder="User Birthday" required>
        </div>
    </div>


    <div class="form-group row">
        <label for="useraddress" class="col-sm-3 col-form-label">
            <i class="fas fa-home col-md-4" style="color:orange ; margin-left:30%;"></i>地址</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="useraddress" id="useraddress" placeholder="User Address" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-md-5">
            <button id="sub" type="submit" class="btn btn-warning" >加入會員</button>
            
        </div>
    </div>

</div>
</div>
</div>
<script>

      $(document).ready(function () {
          $("#useremail").blur(function(){
              // 保留List為 一個陣列
              lll = ({{ List|safe }});  
              va = String($(this).val())

            //    console.log(lll)
            //    console.log(va.length )
            //    console.log($.inArray(va, lll))
            
            //    Console.log( va == undefined)
               if ($.inArray(va, lll)>=0 || va.length == 0 ){
                   $("#ans").text('不可空值or帳號重複').css({'color':'red'})
                   $('img').attr('src','{% static "images/1.png" %}')
                   $("#sub").prop('disabled',true) 
               }
               else{
                $("#ans").text('帳號可以使用').css('color','green')
                $('img').attr('src','{% static "images/2.png" %}')
                $("#sub").prop('disabled',false)  
               }
          })   
        })

</script>
</div>

</form>


{% endblock %}













