{% extends 'base.html'%}
{% block content %}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">



<div class="container" style="background-color: orange; font-family: 微軟正黑體 ">
    <div class="card card-register mx-auto mt-2">
        <!-- <div class="card-header">Register an Account</div> -->
    <div class="card-body" >      

<h4 style="text-align:center ;font-family: 微軟正黑體">會員資料</h4>

<a href="{% url 'member:create' %}" class="btn btn-secondary mb-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> 會員新增</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>電子郵件</th>
            <th>生日</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
   
        <tr>
            {% for member in members %}
            <td>{{member.id}}</td>
            <td>{{member.username}}</td>
            <td>{{member.useremail}}</td>
            <td>{{member.userbirth}}</td>
           
            <td><a href="{% url 'member:update' member.id %}" ><i class="fas fa-pencil-alt">修改</i></a></td>

            <td><a href="{% url 'member:delete' member.id %}"><i class="far fa-trash-alt">刪除</i></a></td></td>

               
               
        </tr>
        {% endfor %}
    </tbody>

    
</table>

</div>
</div>

{% endblock %}