{% load static %}
<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-upper text-primary mb-3" style="text-shadow: black 0.1em 0.1em 0.2em">
    Syoku - wE aRe ThE fOoD WeBsItE
  </span>
  <span class="site-heading-lower" style="text-shadow: black 0.1em 0.1em 0.2em;font-weight: 400;">FoR YoUr SeRvIcE</span>
</h1>
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav" style="background-color: rgba(47, 23, 15, .6);">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="">Syoku</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'gary:index' %}">Home</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'recipe:index' %}">Recipe</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'storemenu:index' %}">Menu</a>
        </li>

        {% if request.COOKIES.uid %}
        <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'member:index' %}">Userupdate</a>
        </li>
        {% else %}
        {% endif %}


        <!-- <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'member:login' %}">MeMbEr</a>
        </li> -->
        <div class="form-inline my-2 my-lg-0">

            {% if request.COOKIES.uid %}
            <!-- <span>您好 {{request.COOKIES.uid}} &nbsp;</span> -->
            <li class="nav-item px-lg-2">
            <a href="{% url 'member:logout' %}" class="btn btn-danger my-2 my-sm-0">登出</a>
            </li>
            <li class="nav-item px-lg-2">
              <a href="{% url 'gary:history' %}" class="btn btn-primary my-2 my-sm-0">歷史菜單</a>
            </li>
            {% else %}
            <li class="nav-item px-lg-2">
            <a href="{% url 'member:login' %}" class="btn btn-primary my-2 my-sm-0">會員登入</a>
          </li>
            {% endif %}

            &nbsp;&nbsp;&nbsp;

            {% if request.COOKIES.Company_email %}
            <li class="nav-item px-lg-1">
            <a href="{% url 'jabor:logout' %}" class="btn btn-danger my-2 my-sm-0">登出</a>
            </li>
            {% else %}
            <li class="nav-item px-lg-1">
            <a href="{% url 'jabor:login' %}" class="btn btn-primary my-2 my-sm-0">公司登入</a>
            </li>
            {% endif %}

        </div>
      </ul>
    </div>
  </div>
</nav>
