{% extends 'base.html'%}
{% block content %}
<!-- 如果檔案上傳需要多加上enctype="multipart/form-data" -->
<form method="POST"   enctype="multipart/form-data">
    {% csrf_token %}   
    <div class="form-group row justify-content-md-center">
        <label for="cname" class="col-lg-0 col-form-label text-white ">美食名稱</label>
        <div class="col-lg-5 ">
            <input type="text" class="form-control " name="cname" id="cname" placeholder="美食名稱">
        </div>
    </div>
    <div class="form-group row justify-content-md-center    ">
        <label for="cimg" class="col-lg-0 col-form-label text-white">美食圖片</label>
        <div class="col-lg-5">
            <input type="file" class="form-control text-white" name="cimg" id="cimg">
        </div>
    </div>
    <div class="form-group row justify-content-md-center">
        <label for="ctype" class="col-lg-0 col-form-label text-white">美食類型</label>
        <div class="col-lg-5">
            <select name='ctype' class="form-control" id="ctype">
                <option value="0">請選擇</option>
                <option value="西式料理">西式料理</option> 
                <option value="日式料理">日式料理</option>
                <option value="台式料理">台式料理</option>
                <option value="韓式料理">韓式料理</option>
                <option value="泰式料理">泰式料理</option>
            </select>
        </div>
    </div>
    
    <div class="form-group row justify-content-md-center">
        <label for="ccal" class="col-lg-0 col-form-label text-white ">美食熱量</label>
        <div class="col-lg-5">
            <input type="number" class="form-control " name="ccal" id="ccal" placeholder="熱量" step="0.1">
        </div>
    </div>
    <div class="form-group row justify-content-md-center">
        <label for="cprice" class="col-lg-0 col-form-label text-white">美食價錢</label>
        <div class="col-lg-5">
            <input type="number" class="form-control" name="cprice" id="cprice" placeholder="價錢" step="0.1">
        </div>
    </div>
    <div class="form-group row justify-content-md-center">
        <label for="cintroduction" class="col-lg-0 col-form-label text-white">美食介紹</label>
        <div class="col-lg-5">
            <textarea class="form-control" name="cintroduction" id="cintroduction" placeholder="美食介紹說明"></textarea>
        </div>
    </div>
    <div class="form-group row justify-content-md-center">
        <div class="col-md-auto">
            <button type="submit" class="btn btn-primary"><i class="fa fa-bath" aria-hidden="true"></i> 新增美食</button>
        </div>
    </div>
</form>
{% endblock %}