{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">{{title}}</div>
      <div class="card-body">
<!-- 如果檔案上傳需要多加上enctype="multipart/form-data" -->
<form method="POST"   enctype="multipart/form-data">
    {% csrf_token %}   
    <div class="form-group row">
        <label for="cname" class="col-sm-2 col-form-label">美食名稱</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="cname" id="cname" placeholder="美食名稱" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="cimg" class="col-sm-2 col-form-label">美食圖片</label>
        <div class="col-sm-10">
                <img id="output" height="200" style="display:none"   >
            <input type="file" class="form-control" name="cimg" id="cimg" onchange="openFile(event)" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="ctype" class="col-sm-2 col-form-label">美食類型</label>
        <div class="col-sm-10">
            <select name='ctype' class="form-control" id="ctype">
                <option value="0">請選擇</option>
                <option value="義式料理">義式料理</option> 
                <option value="美式料理">美式料理</option> 
                <option value="日式料理">日式料理</option>
                <option value="台式料理">台式料理</option>
                <option value="韓式料理">韓式料理</option>
            </select>
        </div>
    </div>
    
    <div class="form-group row">
        <label for="ccal" class="col-sm-2 col-form-label">美食熱量</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="ccal" id="ccal" placeholder="熱量" step="0.1" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="cprice" class="col-sm-2 col-form-label">美食價錢</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="cprice" id="cprice" placeholder="價錢" step="0.1" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="cintroduction" class="col-sm-2 col-form-label">美食介紹</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="cintroduction" id="cintroduction" placeholder="美食介紹說明" required></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-md-2">
            <button type="submit" class="btn btn-primary"><i class="fa fa-bath" aria-hidden="true"></i> 新增美食</button>
        </div>
    </div>
</form>
</div>
<script>
        function openFile(event) {
            var input = event.target; //取得上傳檔案
            var reader = new FileReader(); //建立FileReader物件

            reader.readAsDataURL(input.files[0]); //以.readAsDataURL將上傳檔案轉換為base64字串

            reader.onload = function () { //FileReader取得上傳檔案後執行以下內容
                // alert(reader.result)
                var dataURL = reader.result; //設定變數dataURL為上傳圖檔的base64字串
                $('#output').attr('src', dataURL).show(); //將img的src設定為dataURL並顯示
            };

        }
</script>
</div>
</div>  
{% endblock %}