{% extends 'base.html' %}
{% block content %}
<div class="container" style="font-family: 'SimSun'">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">
          {{title}}
            <a href="{% url 'storemenu:create' %}" class="btn btn-secondary">新增</a>
      </div>
      <div>
      <div class="card-body">
            <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div></div>
<table class="table" >
    <thead >
        <tr class="row" style="text-align: center" >
            <th class="col-3">美食圖片</th>
            <th class="col">美食名稱</th>
            <th class="col">美食類型</th>
            <th class="col">美食熱量</th>
            <th class="col">美食價錢</th>
            <th class="col-4">美食介紹</th>

        </tr>
    </thead>
    <tbody id="tobddy">
        {% for storemenu in storemenu %}
        <tr class="row">
            <td class="col-3"><a href="#"><img id="imgall" src="/media/{{storemenu.cimg}}" data-toggle="modal" data-target="#exampleModal" style="width: 200px; height: 200px;"></a></td>
            <td class="col">{{storemenu.cname}}</td>

            <td class="col">{{storemenu.ctype}}</td>
            <td class="col">{{storemenu.ccal}}</td>
            <td class="col">{{storemenu.cprice}}</td>
            <td class="col-4">{{storemenu.cintroduction}}</td>


            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
</div>
</div>
<div class="modal fade" id="exampleModal"  role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 1000px;">
            <img sid="imgall" id = "imgalll"src="" style="width: 1000px;" >
    </div>
  </div>
  <script>
        $(document).ready(function () {
            // $("#imgall").click(function () {
            //     // alert('123')
            //     img = $(this).attr('src')
            //     alert (img)
            //     // $("#imgalll").attr('src',img)
            // });
            $('#tobddy').on('click', '#imgall', function () {
                img = $(this).attr('src')
                // alert(img)
                $("#imgalll").attr('src',img)

            })
        })
</script>

</div>
{% endblock %}