{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<div class="container" style="font-family: '微軟正黑體'">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">
      <div class="row">
          <div class="float-left col-4">
          <a href="{% url 'storemenu:index' %}" class="btn btn-primary col-4 ml-3">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>返回菜單</a>
            {% if request.COOKIES.Company_email %}
          <a href="{% url 'storemenu:userindex' %}" class="btn btn-primary col-4 ml-3">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>我的菜單</a>
            {% else %}
            {% endif %}
          </div>
          
          
          <label class="form-inline">搜尋：{{key}}</label>
          <form class=" ml-3" name="myform" method="GET" action="{% url 'storemenu:search' %}">
            <input type="text" name="search" placeholder="Search" />
            <button type="submit" class="btn btn-outline m-2" style="background-color:rgb(230, 167, 86); color: white   ">搜尋</button>
            </form>
      </div> 
    </div>

    <div class="card-body">
      <ul class="splitter row" style="display: inline ">
        <li style="list-style: none;">快速分類:
          <ul>
            <li class="segment-0 selected-0 col" style="display: inline ; list-style-type: none">
              <a href="#" data-value="all">全部</a>
            </li>
            <li class="segment-1 col" style="display: inline ; list-style-type: none ;">
              <a href="#" data-value="台式料理">台式料理</a>
            </li>
            <li class="segment-2 col" style="display: inline ; list-style-type: none">
              <a href="#" data-value="日式料理">日式料理</a>
            </li>
            <li class="segment-3 col" style="display: inline ; list-style-type: none">
              <a href="#" data-value="美式料理">美式料理</a>
            </li>
            <li class="segment-4 col" style="display: inline ; list-style-type: none">
              <a href="#" data-value="義式料理">義式料理</a>
            </li>
            <li class="segment-5 col" style="display: inline ; list-style-type: none">
              <a href="#" data-value="韓式料理">韓式料理</a>
            </li>
          </ul>
        </li>
      </ul>


      <ul id="list" class="row m-3 p-0">
        {% for storemenu in storemenu %}
        <li data-id="id-{{storemenu.id}}" class="{{storemenu.ctype}} col-6 col-md-3 mb-3" style="list-style: none;">
          <div class="card " style="border: 3px solid black;">
            <img class="card-img-top" id="imgall" src="/media/{{storemenu.cimg}}" alt="Card image cap" data-toggle="modal" data-target="#exampleModal">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 900; font-family: '微軟正黑體'">{{storemenu.cname}}</h4>
              <p class="card-text">{{storemenu.cintroduction}}</p>
            </div>
            <ol class="list-group list-group-flush" >
              <li class="list-group-item">類型: {{storemenu.ctype}}</li>
              <li class="list-group-item">熱量: {{storemenu.ccal}}</li>
              <li class="list-group-item">價錢: {{storemenu.cprice}}</li>
            </ol>
          </div>

        </li> {% endfor %}
      </ul>
      
      


      <div class="modal fade" id="exampleModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 1000px;">
          <img sid="imgall" id="imgalll" src="" style="width: 1000px;">
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('#list').on('click', '#imgall', function () {
        img = $(this).attr('src')
        // alert(img)
        $("#imgalll").attr('src', img)

      })
    })
  </script>

</div>
{% endblock %} {% block scripts %}
<link rel='stylesheet' href="/static/styles/qazwsx.css">  
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="{% static 'scripts/scriptsx/jquery.quicksand.js' %}"></script>
<script src="{% static 'scripts/scriptsx/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'scripts/scriptsx/jquery-animate-css-rotate-scale.js' %}"></script>
<script src="{% static 'scripts/scriptsx/qstand.js' %}"></script> {% endblock %}